{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row-4">
            <div class="col">
                {% for genre in genres %}
                    {{ genre.name }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
